@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/text-light.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/text-light-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-light-italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/text-regular-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-regular-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/text-medium-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-medium-italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/text-bold.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/text-bold-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-bold-italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Display';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/display-thin.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Display';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/display-light.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Display';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/display-regular.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Display';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/display-medium.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Display';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/display-bold.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Display';
  src: url('https://yastatic.net/s3/home/fonts/ys/1/display-heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

:root {
  --color-text: #ffffff;
  --color-background: #070717;
  --color-header-text: rgba(228, 228, 227, 1);
  --font-family: YS Text, Helvetica, Arial, sans-serif;
  --link-color: #018ad2;
  --yellow-link: #FFD400;
  --button: #ffdf39;
  --button-hover: #5a54ff;
}


body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--font-family);
  min-width: 800px;
}

h1 {
  color: var(--color-header-text);
  font-family: var(--font-family);
  font-size: 2.4rem;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1rem;
  }
}

h1 .git {
  color: var(--link-color);
}

h2 {
  color: var(--color-header-text);
  font-family: var(--font-family);
  font-size: 1.6rem;
}

.central-content {
  display: flex;
  justify-content: center;
  align-intems: central;
  place-items: center;
  min-height: 50vh;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color:var(--yellow-link);
  transition: 0.4s;
}

a svg path {
  fill: var(--yellow-link);
} 

@media (hover: hover) {
  a:hover {
    color: var(--color-text);
  }

  a:hover svg path {
    fill: var(--color-text);
  }

}

.button {
  padding: 20px 30px;
  background-color: var(--button);
  color: var( --color-background);
  cursor: pointer;
}

.button:hover, .button:active {
  background-color: var(--button-hover);
  color: var(--color-text);
}

.done {
  text-decoration: line-through;
}